
# Mengaktifkan URL Rewriting
RewriteEngine On

# Jika URL langsung menuju folder, maka arahkan ke index.php
DirectoryIndex index.php

# Redirect semua permintaan tanpa index.php ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L,QSA]
